USE [DWLIVE]
GO
/****** Object:  StoredProcedure [dbo].[PR_BI_GET_DISCOUNT_EXPORT_UPDATED]    Script Date: 2/15/2022 5:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[PR_BI_GET_DISCOUNT_EXPORT_UPDATED]
	-- Add the parameters for the stored procedure here
	


AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;

DROP TABLE [DWLIVE].[dbo].[ExportData_Discount_Updated];


WITH DiscountDetail AS 

(
	SELECT T1.DATEKEY, T1.StudentNERE, T1.COURSEFEE, T1.COURSEPRICE,
		T1.REGISTRATIONDATE, T1.REGISTRATIONID, T1.CUSTACCOUNT, 
		T1.CUSTNAME,T1.STUDENTTYPEID, T1.ACTUALSTARTDATE, T1.REALSTART, T1.PROJECTID,T1.CENTERID, T1.WORKERSALESTAKER,
		T1.PATHWAYID, T1.PATHWAYIDREGIS, TOTALDISCOUNT, DISCPERCENT, 
		T1.JOINLATEAMOUNT, DIS.DISCCODE, DisCode.DISCOUNTNAME, DisCode.FROMDATE, DisCode.TODATE,
		DisCode.CREATEDDATETIME AS DiscountCreatedDate, 
		T1.NOTE AS Internal_Remark, T1.NOPATHWAY AS [No.Course]
	FROM DWLIVE.dbo.VIEWREGISTRATION_LT T1
	LEFT JOIN [DWLIVE].[dbo].[Data.LTDISCOUNT] DIS ON T1.PATHWAYID = DIS.PATHWAYID 
	LEFT JOIN [DWLIVE].dbo.[Data.ilaDiscountCode] DisCode ON DIS.DISCCODE = DisCode.DISCOUNTCODE

	WHERE REGISTRATIONSTATUS = 2 AND T1.DATAAREAID = 'ilav' AND DIS.DISCCODE IS NOT NULL AND
	PATHWAYACTIVED = 1 AND TERMINATIONSTATUS = 0

	GROUP BY T1.DATEKEY, T1.StudentNERE, T1.COURSEFEE, T1.COURSEPRICE,
		T1.REGISTRATIONDATE, T1.REGISTRATIONID, T1.CUSTACCOUNT, 
		T1.CUSTNAME, T1.ACTUALSTARTDATE, T1.REALSTART, T1.PROJECTID,T1.CENTERID, T1.WORKERSALESTAKER,
		T1.PATHWAYID, T1.PATHWAYIDREGIS, TOTALDISCOUNT,DISCPERCENT, 
		T1.JOINLATEAMOUNT, DIS.DISCCODE, DisCode.DISCOUNTNAME, DisCode.FROMDATE, DisCode.TODATE,
		DisCode.CREATEDDATETIME, DisCode.CREATEDDATETIME, 
		T1.NOTE, T1.NOPATHWAY, t1.STUDENTTYPEID 
	

),

Discount_Summary AS (
SELECT SUM(T1.TOTALDISCOUNT) AS TOTALDISCOUNT, T1.DATEKEY, T1.StudentNERE, T1.COURSEFEE, T1.COURSEPRICE,
		T1.REGISTRATIONDATE, T1.REGISTRATIONID, T1.CUSTACCOUNT, 
		T1.CUSTNAME,T1.STUDENTTYPEID, T1.ACTUALSTARTDATE, T1.REALSTART, T1.PROJECTID,T1.CENTERID, T1.WORKERSALESTAKER,
		T1.PATHWAYID, T1.PATHWAYIDREGIS,  T1.DISCPERCENT, 
		T1.JOINLATEAMOUNT, T1.DISCCODE, T1.DISCOUNTNAME, T1.FROMDATE, T1.TODATE,
		T1.DiscountCreatedDate,  
		T1.Internal_Remark, T1.[No.Course]

FROM DiscountDetail T1

GROUP BY T1.DATEKEY, T1.StudentNERE, T1.COURSEFEE, T1.COURSEPRICE,
		T1.REGISTRATIONDATE, T1.REGISTRATIONID, T1.CUSTACCOUNT, 
		T1.CUSTNAME,T1.STUDENTTYPEID, T1.ACTUALSTARTDATE, T1.REALSTART, T1.PROJECTID,T1.CENTERID, T1.WORKERSALESTAKER,
		T1.PATHWAYID, T1.PATHWAYIDREGIS, T1.DISCPERCENT, 
		T1.JOINLATEAMOUNT, T1.DISCCODE, T1.DISCOUNTNAME, T1.FROMDATE, T1.TODATE,
		T1.DiscountCreatedDate,  
		T1.Internal_Remark, T1.[No.Course]


),


Discount_AddFirstRegis AS (
SELECT FIRST_VALUE(REGISTRATIONID) OVER(PARTITION BY CUSTACCOUNT ORDER BY REGISTRATIONDATE) AS FirstRegis, *
FROM Discount_Summary
),

Discount_Order AS (
	 SELECT ROW_NUMBER() OVER(PARTITION BY CUSTACCOUNT ORDER BY REGISTRATIONDATE) AS RegisOrdinalNo, *	
		FROM Discount_AddFirstRegis
 ),

Discount_AddLagLead AS (

SELECT LAG(REGISTRATIONID) OVER(PARTITION BY CUSTACCOUNT ORDER BY REGISTRATIONDATE) AS PreviousRegis,
		LEAD(REGISTRATIONID) OVER(PARTITION BY CUSTACCOUNT ORDER BY REGISTRATIONDATE) AS NextRegis, *
FROM Discount_Order
),

Revenue_Summarized AS (
	
SELECT CustAccount, RegistrationID, ProjectID, SUM(FeePerHours*Effort) AS Revenue
FROM DWLIVE.dbo.[Data.RevenueDaily]
GROUP BY CustAccount, RegistrationID, ProjectID

)

SELECT A.*
INTO [DWLIVE].[dbo].[ExportData_Discount_Updated]
FROM (
SELECT T2.Revenue, T1.*
FROM Discount_AddLagLead T1
LEFT JOIN Revenue_Summarized T2 ON T1.REGISTRATIONID = T2.REGISTRATIONID
) A


END


